/*** css reset ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** css vars ***/
:root {
  /* fonts */
  --base-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  /* font colors */
  --font-color-light: #ffffff;
  --font-color-dark: #010004;

  /* background colors */
  --primary-color: #3f17c2;
  --secondary-color: #dbd8f7;
  --tertiary-color: #2c2b2e;
  --transparent-background: rgba(244, 255, 248, 0); /*Durchsichtig*/
  --dark-background: #000000;
  --add-color: #05b09c;
  --remove-color: #e11044;
  --reset-color: #e11044;

  /* Schattierung */
  --box-shadow-black: 0 4px 5px rgba(12, 4, 11, 0.5);
  --box-shadow-button: 0 4px 5px rgba(22, 66, 175, 0.5);
  --border-color: 1px solid #2b3272;
  --hover-color: #84ecf8;
}

h1 {
  color: var(--font-color-light);
}

body {
  height: 100%;
  font-family: var(--base-font);
  background: var(--dark-background);
  /*
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(at 40% 20%, hsla(289, 15%, 29%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(225, 100%, 1%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 37%, 32%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 8%, 4%, 1) 0px, transparent 50%);
    */
}

.page-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--primary-color);
  padding: 0.5rem;
}

header {
  background-color: var(--primary-color);
  color: var(--font-color-light);
  padding: 1rem 0;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding: 2rem 0;
  }
}

main {
  flex: 1;
  display: grid;
  place-items: center;
}

.container-header {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 1rem auto;
  background: var(--transparent-background);
  padding: 2rem 1rem;
  border-radius: 8px;
}

.container-hallo {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 1rem auto;
  background: var(--secondary-color);
  padding: 2rem 1rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow-black);
  @media screen and (min-width: 768px) {
    margin-bottom: 1.5rem;
  }
}

.container-new-todo {
  width: 100%;
  max-width: 600px;
  display: flex;
  gap: 0.75rem;
  margin: 0 auto 1rem auto;
  background: var(--secondary-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow-black);
  @media screen and (min-width: 768px) {
    margin-bottom: 1.5rem;
  }
  & input {
    flex: 1;
    padding: 0 0.5rem;
  }

  @media screen and (min-width: 480px) {
    & {
      padding: 2rem 1rem;
    }
  }
}

.task-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    margin-bottom: 1.5rem;
  }
}

.container-footer {
  width: 80%;
  max-width: 500px;
  margin: 1rem auto;
  background: var(--transparent-background);
  color: var(--font-color-light);
  padding: 2rem;
  border-radius: 6px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @media screen and (min-width: 768px) {
    margin-bottom: 1.5rem;
  }
}

.hide {
  display: none !important;
}
